doctype html
html(lang='en')
	head
		title Welcome
		link(href='/stylesheets/styles.css', rel='stylesheet')
		script(type="text/babel", src="/javascripts/registration.js")
		script(src="/libraries/react.min.js")
		script(src="/libraries/react-dom.min.js")
		script(src="/libraries/browser.min.js")
		script(src="/libraries/ajax.js")
	body.registration
		#preloader
			.spinWrap
				.spinnerImage
				.loader
		#register__form.form